<div class="footer_container">

    <div class="footer_content_container">
        <div class="footer_content_column">
            <p class="footer_title">Про нас</p>
            <span class="footer_content_container_item"><a href="">Про проект</a></span>
            <span class="footer_content_container_item"><a href="">Наша команда</a></span>
            <span class="footer_content_container_item"><a href="">Технології</a></span>
        </div>
        <div class="footer_content_column">
            <p class="footer_title">Співпраця</p>
            <span class="footer_content_container_item"><a href="">Фізичним особам</a></span>
            <span class="footer_content_container_item"><a href="">Корпоративним клієнтам</a></span>
        </div>
        <div class="footer_content_column">
            <p class="footer_title">Зв'язатися з нами</p>
            <span class="footer_content_container_item"><a href="">calendar@info.com</a></span>
            <span class="footer_content_container_item"><a href="">+38 (800) 297-37-97</a></span>
        </div>
        <div class="footer_content_column">
            <p class="footer_title">Ми в соціальних мережах</p>
            <div class="social_icons_container">
                <div class="social_icon_facebook"></div>
                <div class="social_icon_linkedIn"></div>
                <div class="social_icon_instagram"></div>
                <div class="social_icon_twitter"></div>
            </div>
        </div>
    </div>
</div>

<div class="copyright_container">
    <span>Copyright © 2020 Calendar Inc. All rights reserved</span>
</div>
