<app-header></app-header>

<div class="home_page_container">

    <div class="handler_container"></div>

    <div class="home_page_description_container">
        <div class="home_page_description">
            <h2 class="description_title">Calendar</h2>
            <p class="description_content">сервіс для легкої організації своїх справ</p>
            <p class="description_content">свята, дні народження близьких, робочі заходи та інші події вашого життя не заливаться без уваги</p>
            <div class="button_container">
                <button class="register_button" (click)="openDialog()">Зареєструватись</button>
            </div>
            <!-- TODO Remove after debug-->
            <div class="button_container_test">
                <button class="register_button" routerLink="/calendar">Календарь (Тест)</button>
            </div>
        </div>
    </div>

    <div class="advantages_container">
        <div class="advantage_item">
            <div class="advantage_icon"><mat-icon>textsms</mat-icon></div>
            <p class="advantage_title">Lorem ipsum</p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aspernatur dolore dolorum itaque repudiandae, sapiente suscipit tempore ut.
            Corporis dicta, doloremque ea excepturi, minus neque obcaecati saepe sint totam!
        </div>
        <div class="advantage_item">
            <div class="advantage_icon"><mat-icon>schedule</mat-icon></div>
            <p class="advantage_title">Lorem ipsum</p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aspernatur dolore dolorum itaque repudiandae, sapiente suscipit tempore ut.
            Corporis dicta, doloremque ea excepturi, minus neque obcaecati saepe sint totam!
        </div>
        <div class="advantage_item">
            <div class="advantage_icon"><mat-icon>work_outline</mat-icon></div>
            <p class="advantage_title">Lorem ipsum</p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aspernatur dolore dolorum itaque repudiandae, sapiente suscipit tempore ut.
            Corporis dicta, doloremque ea excepturi, minus neque obcaecati saepe sint totam!
        </div>
        <div class="advantage_item">
            <div class="advantage_icon"><mat-icon>event_note</mat-icon></div>
            <p class="advantage_title">Lorem ipsum</p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aspernatur dolore dolorum itaque repudiandae, sapiente suscipit tempore ut.
            Corporis dicta, doloremque ea excepturi, minus neque obcaecati saepe sint totam!
        </div>
    </div>

</div>

<app-footer></app-footer>
