<div class="loading_spinner" *ngIf="!isLoadedData; else uploadedData" >
    <mat-spinner></mat-spinner>
</div>

<ng-template #uploadedData>
    <ejs-schedule (actionBegin)="onActionBegin($event)"
                  [eventSettings]="eventSettings"
                  [firstDayOfWeek]="1">
        <e-views>
            <e-view option='Today'></e-view>
            <e-view option='Day'></e-view>
            <e-view option='Week'></e-view>
            <e-view option='Month'></e-view>
            <e-view option='Year'></e-view>
            <e-view option='Agenda'></e-view>
        </e-views>
    </ejs-schedule>
</ng-template>
